body {
    font-family: Arial, Verdana, sans-serif;
    background-color: rgb(200, 200, 200);
    font-size: 100%;
    background-image: url("images/Cave_Floor.jpg");
}

ol{
    background-color: rgb(230, 230, 230);
}

figure#front{
    display: block;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}

div#intro {
    background-color: rgb(230, 230, 230);
}

p {
    line-height: 1.4em;
    text-indent: 2.5em;
    padding: 10px;
}

ol {
    list-style-type: decimal;
    margin: 10px;
}

figcaption#Graylock_cap {
    width: 720px;
    text-align: center;
    color: rgb(226, 219, 219);
}

h1, h2 {
    text-align: center;
    font-family: fantasy;
    letter-spacing: 0.05em;
    background-color: black;
    color: gray;
    font-size: 200%;
    padding-left: 10px;
}